@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model ToDoList.Models.Category

<h2> Details</h2>

@if (@Model.Items.Count == 0)
{
  <p>No items have been added yet</p>
}

<ul>
@foreach (Item item in @Model.Items)
{
  <li>@item.Description</li>
}
</ul>


<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Add new Item", "Create", "Items")</p>
<p>@Html.ActionLink("Back to categories list", "Index")</p>
<p>@Html.ActionLink("Edit category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete category", "Delete", new { id = Model.CategoryId })</p>
